@tailwind base;
@tailwind components;
@tailwind utilities;

.text-transparent {
  -webkit-text-stroke: 2px #D8A7A0;
  color: transparent;
}

@media (max-width: 768px) {
  .text-transparent {
    -webkit-text-stroke: 1px #D8A7A0;
  }
}

.writing-vertical-lr {
  writing-mode: vertical-lr;
}
